{
    "presets": [
        "env",
        "react"
    ],
    "plugins": [
        ["import", { "libraryName": "antd", "libraryDirectory": "es", "style": "css"}],
        ["transform-class-properties", { "spec": true }]
    ]
}