* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttonTest {
    font-size: 50px;
    margin-bottom: 50px;
    color: darkcyan;
}

.list-post {
    width: 50%;
    min-height: 350px;
}

.input-form {
    width: 50%;
}